body {
    background-color: aquamarine;
}

.container {
  justify-content: space-center;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

p {
    color: black;
    padding: 10px 20px;
    text-align: center;
}

#box1, #box2, #section-style
{
    width: 401px;
    float: left;
    margin-top: 15px;
  background-color:white;
}
img{
    float: left;
    width: 400px;
    height: 200px; 
    margin-right: 25px;
    padding: 10;
}